<!-- start dns.html -->

<h2 class="{{site.question_style}}">Explain, in a couple of paragraphs, what you think 2 major challenges around DNS configuration are for less-technical internet end-users</h2>
<ol>
    <li>DNS is usally handled on the domain registrar website. All registrars look different and have varying levels of customer support. This makes it really hard to unify any documentation about DNS configuration. It's also the reason why sites like Squarespace and Wix are domain registrars. If they control the DNS, they can directly address any DNS questions.</li>
    <br />
    <li>It takes a long time for DNS to propagate. This makes DNS harder to learn because breaking changes take a long time to fix. It's one reason why services like CloudFlare and DNS Made Easy are popular; the have instant DNS propagation.</li>
</ol>

<!-- end dns.html -->