<!-- start favorite_items.html -->

<h2 class="i">Rank your 5 favorite, and least favorite, activities from <a class="pink" href="https://gist.github.com/fool/b0f254ff8c72a5765b6a9138249789d6">this</a> list:</h2>
<h3>Favorites (from most favorite to least favorite)</h3>
<ol>
    <li>Debug a customer's build using a programming language and framework that you've never seen before.</li>
    <li>Analyze thousands of support tickets to spot trends to improve our product.</li>
    <li>Suggest and champion improvements to the product and workflow to your colleagues in and out of support.</li>
    <li>Work with the development team to help design a new feature based on feedback from customers.</li>
    <li>Receive occasional phone calls requesting support from our highest-value customers.</li>
</ol>
<h3>Least Favorites (from most favorite to least favorite)</h3>
<ol>
    <li>Create video tutorials to help teach users a specific feature or use case.</li>
    <li>Find and recruit teammates for the support team.</li>
    <li>Respond to Netlify fans on Twitter.</li>
    <li>Manage a support team.</li>
    <li>Deliver a talk to many people you don't know at a conference or meetup.</li>
</ol>
<h3>Summary</h3>
<p>For my favorites, I chose things that utilize my development or support skills. For my least favorites, I chose things that didn't <i>really</i> have to do with writing software or support; mainly managment and marketing tasks. I like doing that stuff, just not full-time.</p>

<!-- end favorite_items.html -->