<!-- start favorite_thing_about_tech_support.html -->

<h2 class="i">What is your favorite thing about providing technical support?</h2>
<p>At it’s core, support is about helping people. I <i>love</i> helping people. What’s the point of building something great if you don’t help everyone use it? Also, I enjoy being proactive. Fixing problems before they affect customers, improving ticket response time, creating active communication channels; it’s what makes a good product great.</p>

<!-- end favorite_thing_about_tech_support.html -->
