<!-- start good_docs.html -->

<h2 class="i">Provide a link to documentation for a technical/developer-focused product, that you think are well done, and briefly explain why you think they are well done.</h2>
<p>The <a class="pink" href="https://devcenter.heroku.com">Heroku</a> documentation is amazing.</p>
<p>You choose a programming language, and continue to a very simple page with three main links: “Getting Started on Heroku”, “Heroku Reference”, “How Heroku Works”. The “Getting Started” link takes you to a tutorial that walks you through deploying a real application. During the tutorial, there’s a prominent link to the reference if you get stuck or want to find out more.</p>
<p>It’s simple, well organized and easy for both new and experienced users.</p>

<!-- end good_docs.html -->