<!-- start https_ssl.html -->

<h2 class="{{site.question_style}}">Why do you think SSL/HTTPS is important?</h2>
<p>Browsing the internet is like playing a game of catch with your friends. But, it's not a normal game of catch; your credit card numbers and passwords could be written on the ball. If you aren't using SSL/HTTPS, someone can intercept the ball before it gets to your friend and read your sensitive information. Also, you won't really know if the person you're throwing to is actually a friend; it could be an imposter. SSL/HTTPS solves this by encrypting the information on the ball and verifying the identity of your friends.</p>

<!-- end https_ssl.html -->