<!-- start what_did_you_think_of_netlify.html -->

<h2 class="{{site.question_style}}">What did you think of our service during the time you used it?</h2>
<h3>The Good</h3>
<ul>
    <li>The build process is fantastic. I've never had a build fail.</li>
    <li>The performance is great, all of my sites are super fast.</li>
    <li>It's simple. Netlify does static hosting and does it well.</li>
</ul>
<h3>The Okay</h3>
<ul>
    <li>The documentation is pretty good. I think it could be more readable and / or searchable. Having 20+ root items in the side navigation of the documentation page is overwhelming.</li>
    <li>I would like to see the uptime of the system. What are the SLA agreements for the different plan levels? I know it's easier to use than S3 and CloudFront but how does the performance and uptime compare?</li>
</ul>
<h3>The Bad</h3>
<ul>
    <li>A few weeks ago, there was an outage that briefly removed all of my sites. Downtime should be actively communicated to customers.</li>
</ul>

<!-- end what_did_you_think_of_netlify.html -->