
<!DOCTYPE html>
<html lang="en">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="{{site.author}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="favicon.ico?" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/tachyons.min.css">
    <title>I am Bennett.</title>
    <body class="bg-washed-green">
        {% include header.html %}
        <div class="mh6-l mh4-m mh2">
            <h1><u>Questions &#38; Answers</u></h1>
            {% include favorite_items.html %}
            {% include favorite_thing_about_tech_support.html %}
            {% include what_did_you_think_of_netlify.html %}
            {% include interview_suggestions.html %}
            {% include good_docs.html %}
            {% include ssl_https.html %}
            {% include dns.html %}
            {% include customer_reply.html %} 
            {% include bonus.html %} 
        </div>
        {% include footer.html %} 
    </body>
</html>