
<!DOCTYPE html>
<html lang="en">
    <title>{{site.title}}</title>
    <meta name="description" content="{{site.description}}">
    <meta name="author" content="{{site.author}}">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link href="favicon.ico?" rel="shortcut icon" type="image/x-icon">
    <link rel="stylesheet" href="css/tachyons.min.css">
    <title>I am Bennett.</title>
    <body class="bg-washed-yellow">
        {% include header.html %}
        <div class="mh6-l mh4-m mh2">
            <h1><u>Questions &#38; Answers</u></h1>
            {% include questions/favorite_items.html %}
            {% include questions/favorite_thing_about_tech_support.html %}
            {% include questions/what_did_you_think_of_netlify.html %}
            {% include questions/tools.html %}
            {% include questions/interview_suggestions.html %}
            {% include questions/good_docs.html %}
            {% include questions/ssl_https.html %}
            {% include questions/dns.html %}
            {% include questions/customer_reply.html %}
            {% include questions/bonus.html %}
        </div>
        {% include footer.html %}
    </body>
</html>